<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="payment_method_minimum" instance="CreditKey\B2BGateway\Observer\RestrictPaymentMethodMinimum"/>
    </event>
    <event name="sales_order_save_before">
        <observer name="create_invoice_after_change_ship" instance="CreditKey\B2BGateway\Observer\CreateInvoiceAfterChangeStatusToShip"/>
     </event>
    <event name="sales_order_save_after">
        <observer name="update_charges" instance="CreditKey\B2BGateway\Observer\UpdateChargesAfterOrderSave"/>
    </event>
</config>
